<html lang="zh-CN">
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/blog_list.css">
    <link rel="stylesheet" href="static/css/blog-login.css">
    <link rel="stylesheet" href="static/css/blog_detail.css">
    <link rel="stylesheet" href="static/css/blog_edit.css">
    <!-- 引入依赖 -->
    <link rel="stylesheet" href="editor.md-master/css/editormd.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="editor.md-master/lib/marked.min.js"></script>
    <script src="editor.md-master/lib/prettify.min.js"></script>
    <script src="editor.md-master/editormd.js"></script>
</head>

    <!-- 导航栏 -->
    <div class="nav">
        <img src="static/image/log.png" alt="">
        <span class="title">我的博客系统</span>
         <!-- 使用 span 把左右两侧的元素给撑开 -->
         <span class="spacer"></span>
         <a href="home">主页</a>
         <a href="write">写博客</a>
         <a href="login">注销</a>
    </div>
<!-- 版心 -->
    <div class="container">
        {% block left %}
        {% endblock %}

        {% block body %}

        {% endblock %}
    </div>
</html>

