{% extends 'base.html' %}
{% block content %}
<h1>Template</h1>
<ul>
    <li><a href="{{url_for('laststep')}}">watchlist</a></li>
    <li><p>这是一个全局变量{{frout}}</p></li>
    <li>
        <p>这还是一个函数{{foo}}内容是{{foo()}}</p>
    </li>
</ul>

{% endblock %}
{% block style%}
    {{super()}}
    <style>
        nav{
            position:relative;
            width:100%;
            height:10px;
            margin:0 auto;
        }
        nav ul{
            list-style:none;
        }
        nav ul li{
            float:left;
            text-align:center;
            position:relative;
            width:30px;
            height:15px;
            margin-right:10px;
            padding:5px;
            border:1px solid #ccc;
            border-radious：10px;
            }
            nav ul li a{

            text-decoration:none;
            color:red;
            font-size:18px;
            }

    <</style>
{% endblock %}
