{% extends "base.html" %}
{% block title %}
    主页
{% endblock %}

{% block body %}


<!-- 版心 -->
    <div class="container">
        <!-- 左侧区域，显示用户信息 -->
        <div class="container-left">
            <!-- 用户详情 -->
            <div class="card">
                <!-- 用户的头像 -->
                <img src="static/image/head.jpg" alt="">
                <!-- 用户名 -->
                <h3>{{ name }}</h3>
                <!-- 其它信息 -->
                <a href="https://blog.csdn.net/weixin_45971950?type=blog" target="_blank">CSDN 地址</a>
                <a href="https://github.com/Liu670" target="_blank">GitHub 地址</a>
                <!-- 文章分类 -->
                <div class="counter">
                    <span>文章</span>
                    <span>分类</span>
                </div>
                <div class="counter">
                    <span><a href="#">{{len}}</a></span>
                    <span><a href="#">1</a></span>
                </div>
            </div>
        </div>
        <!-- 右侧区域，显示博客列表 -->
        <div class="container-right" style="overflow:auto">
            <!-- 每个 blog 代表一篇博客 -->
            {% for data in datas %}

            <div class="blog" title="{{data['title']}}">
                <a href="{{data['href']}}"><div class="title">{{ data['title'] }}</div></a>
                <a href="{{data['href']}}"><div class="date">{{ data['time'] }}</div></a>
                <a href="{{data['href']}}">
                <div class="desc" id="myText">
                    <pre>
                        {{ data['content'] }}
                    </pre>
                </div>
                </a>

                <a href="{{data['href']}}" class="detail">查看全文&gt;&gt;</a>
            </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}

