{% extends "base.html" %}
{% block title %}
    登录页面
{% endblock %}

{% block body %}

    <!-- 登录页面的版心 -->
    <div class="login-container">
        <div class="login-dialog">
            <h3>登录</h3>

            <form name="frm" id="frm" action="home" method="post">
                <div class="row1">
                    <span>用户名</span>
                    <input type="text" name="user" id="user">
                </div>
                <div class="row1">
                    <span>密码</span>
                    <input type="password" name="pwd" id="pwd">
                </div>
                <div class="row2">
                    <input type="submit" value="提交" id="submit">
                </div>

                <div style="color:red;text-align:center;margin-top:20px">{{msg}}</div>

            </form>
        </div>
    </div>

{% endblock %}
